# ROS Config
ROS_DOMAIN_ID=
NAMESPACE=/
ROS_HOSTNAME=
ROS_IP=
HOST_IP=
ROS_AUTOMATIC_DISCOVERY_RANGE=SYSTEM_DEFAULT

# Livox Config
LIVOX_LIDAR_IP=

# Point Cloud to Laser Scan Config
INPUT_CLOUD_TOPIC="/livox/lidar"
OUTPUT_SCAN_TOPIC="/scan"
TARGET_FRAME="livox_frame"
MIN_HEIGHT=-0.3
MAX_HEIGHT=0.1
ANGLE_MIN=-3.14159
ANGLE_MAX=3.14159
ANGLE_INCREMENT=0.017453
RANGE_MIN=0.1
RANGE_MAX=100.0